@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  margin-top: 10px;
  display: block;
  border-right: 1px solid gray;
}
.navbar img {
  width: 25px;
  height: 25px;
}
.navbar h1 {
  margin-left: 30px;
  font-size: 30px;
  color: #f1356d;
}
.navbar a {
  display: block;
  margin-left: 30px;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;
}
.navbar a:focus {
  color: #f1356d;
}
.navbar a:hover {
  color: #f1356d;
}
.hooks a {
  padding: 5px;
  margin-left: 70px;
}
.content {
  margin-left: 15%;
  margin-top: 10px;
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 10px;
}
.btn{
  background-color: white;
  border: 1px solid white;
}
.content p {
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  line-height: 25px;
}
.content h1 {
  margin-top: 30px;
  margin-left: 30px;
}
.content button {
  margin-left: 10px;
}
.content input {
  margin-left: 10px;
}
.content table {
  margin-left: 10px;
}